name: Test nix-config

on:
  push:
    branches: [main, x86_64-linux]
  workflow_dispatch:

jobs:
  tests:
    name: flake check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@main
      
      - name: magic-nix-cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Test flake check     
        run: nix flake check --show-trace